:root {
 --background-image: url(https://w.wallhaven.cc/full/0w/wallhaven-0wqylq.jpg);
 --secondary-color: #abbcda;
 --text-color: black;
 --navbar-hover: white;
 --outline: black;
}

.toggledark {
  
 --background-image: url(https://w.wallhaven.cc/full/0q/wallhaven-0qlvxd.png);
 --secondary-color: #31363F;
 --text-color: white;
 --navbar-hover: white;
 --outline: #999999;


}

.navbar a {
	text-decoration:none;
	padding:10px;
  color: var(--text-color);
}

.navbar {
	text-align: center;
    padding: 15px;
    background-color: var(--secondary-color);
    border: 2px solid var(--outline);
}

.navbar a:hover {
	text-decoration: none;
  padding: 10px 15px;
  color: gray;
}


.content {
display: float;
    max-width: 1100px;
    margin: auto;
    gap: 20px;
    color: var(--text-color);
}

.home {
 Flex: 1;
 width: 50%;
}
.about {
 width: 90%;
}
img {
 width: 140px;
 border-radius: 50%;
 border-color: var(--text-color);
 object-fit: cover;
 border: 2px solid var(--text-color);
}
#job-title {
 color: var(--text-color);
 font-style: italic;
 padding: 10px;
 background: var(--secondary-color);
 border-radius: 25px;
 border: 2px solid var(--text-color);
}



.Message input[type="text"] {
 width: 90%;
 background-color: var(--secondary-color);
 color: var(--text-color);
 padding: 10px;
 box-sizing: border-box;
 
}
.Message input[type="email"] {
 width: 90%;
 padding: 10px;
 box-sizing: border-box;
 background-color: var(--secondary-color);
 color: var(--text-color);
}
.Message input[type="submit"] {
 width: 90%;
 padding: 10px 15px;
 box-sizing: border-box; 
 cursor: pointer;
 background-color: var(--secondary-color);
 color: var(--text-color);
 transition: background-color 0.3s;

}

.Message textarea {
 width: 100%;
 height: 150px;
 padding: 12px;
 box-sizing: border-box;
 border: 2px solid var(--outline);
 border-radius: 4px;
 resize: none;
 background-color: var(--secondary-color);
 color: var(--text-color);
}

.Message input:hover[type="submit"] {
 width: 90%;
 padding: 10px 15px;
 box-sizing: border-box; 
 background-color: #A8DCAB;

}
body {
  background-image: var(--background-image);
}

.foot p, center, strong{
  margin: auto;
  background-color: var(--secondary-color);
  width: 300px;
  border-radius: 40px;
  color: var(--text-color);

}

#themeBtn {
  height: 50px;
  width: 50px;
  padding: 0;
  border-radius: 50%;
  background-color: var(--secondary-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#themeBtn{
  fill: var(--text-color);
}

#editJobBtn{
  background-color: var(--secondary-color);
  color: var(--text-color);
}

#toggleSkillsBtn{
  border-radius: 25px;
  background-color: var(--secondary-color);
  color: var(--text-color);
}

.quotes{
  text-align: center;
  display: block;
}

.quotes blockquote::before, .quotes blockquote::after{
  content: '"';
}

.quotes span{
  display: block;
  float: right;
  position: relative;
}

.quotes div{
  width: 100%;
  margin-top:60px;
  display: block;
  justify-content: center;
}

.quotes button{
  background: var(--secondary-color);
  cursor: pointer;
  
}